{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph Dictionary</title>
</head>
<body>
<h1>A Graph Dictionary of Biblical Hebrew</h1>
<img src="{% static 'siach-graph.PNG' %}"></img>
We present here three dictionaries:

<li><a href="http://mivami.org/dictionary/klein/">Klein Dictionary</a> is based on Ernest Klein's <i>A Comprehensive Etymological Dictionary Of The Hebrew Language</i>.
Links between headwords are on the basis of semantic similarity.</li>
<li><a href="http://mivami.org/dictionary/clark/">Clark's Dictionary</a> is based on Matityahu Clark's <i>Etymological Dictionary Of Biblical Hebrew</i>.
At the moment, headwords are grouped into phonemic classes and displayed together.</li>
<li><a href="http://mivami.org/dictionary/distributional/">Distributional Dictionary</a> is based on the ETCB dataset, and "roots" are linked by
    distributional criteria.</li>
</body>
</html>