{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<p>Joshua Waxman is an Assistant Professor at Stern College for Women, part of Yeshiva University.
    His interests are in Computational Linguistics, Graphs, and the Digital Humanities. Dr. Waxman
    received his B.A. in Computer Science from <a href="https://www.yu.edu/yeshiva">Yeshiva College</a>,
    his Ph.D. in Computer Science from the <a href="https://www.gc.cuny.edu/Home">CUNY Graduate Center</a>
    and his rabbinic ordination from <a href="https://www.yu.edu/riets">RIETS</a>. He also studied at
    the <a href="https://www.yu.edu/revel">Bernard Revel Graduate
    School of Jewish Studies</a>. Within the realm of Jewish studies, his interests are in Biblical
    philology, Biblical cantillation as a markup of syntax, academic Talmud study (<i>mechkar</i>),
    and variant textual readings (<i>girsaot</i>). He may be reached at joshua.waxman@yu.edu.
</p>
{% endblock %}