<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" novalidate>
  {% csrf_token %}
  <table border="1">
    {{ form }}
  </table>
  <button type="submit">Submit</button>
</form>

Verse should be in Unicode format.<br/>
One sample verse, to cut and paste:<br/> וַֽיִּקְרְא֥וּ בַסֵּ֛פֶר בְּתוֹרַ֥ת הָאֱלֹהִ֖ים מְפֹרָ֑שׁ וְשׂ֣וֹם שֶׂ֔כֶל וַיָּבִ֖ינוּ בַּמִּקְרָֽא׃
<br/>
Alternatively, explore the corpus:
<a href="Genesis 1:1">Genesis 1:1</a>
</body>
</html>